@{ 
    List<VuelaLibre.Models.Maps.Vuelos> accounts = ((List<VuelaLibre.Models.Maps.Vuelos>)Model);
}
<table class="table">
    <thead>
        <tr>
            <th>Aerolinea</th>
            <th>Fecha de Salida</th>
            <th>Hora de Salida</th>
            <th>Fecha de Regreso</th>
            <th>Hora de regreso</th>
            <th>Tiempo de Vuelta</th>
            <th>Núm. de Pasajes</th>
            <th>precio</th>
        </tr>
    </thead>

    <tbody>


        
       
    </tbody>
</table>