@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<body class="registro">
    <div class="tm-section tm-bg-img" id="tm-section-1">
        <div class="container text-md-center">

            <div class="row justify-content-center pt-5 mt-5 mr-1">
                <div class="col-md-4" formulario>
                    <form action="" method="post">
                        <div class="form-group text-center">
                            <h3 class="text-light">Registrate </h3>

                        </div>
                        <div class="form-group mx-sm-4 ">
                            <input type="text" name="name" class="form-control" placeholder="Nombre" />
                        </div>
                        <div class="form-group mx-sm-4 pt-4">
                            <input type="text" name="lastname" class="form-control" placeholder="Apellidos" />
                        </div>
                        <div class="form-group mx-sm-4 pt-4">
                            <input type="text" name="email" class="form-control" placeholder="Correo" />
                        </div>
                        <div class="form-group mx-sm-4 pt-4">
                            <input type="text" name="user" class="form-control" placeholder="Nombre de Usuario" />
                        </div>
                        <div class="form-group mx-sm-4 pt-4">
                            <input type="password" name="password" class="form-control" placeholder="Contraseña" />
                        </div>
                        <div class="form-group mx-sm-4 pt-4">
                            <input type="password" name="password2" class="form-control" placeholder="Verfificar Contraseña" />
                        </div>
                        <div class="form-group mx-sm-4 pb-4">
                            <input type="submit" class="btn btn-block registrar" value="Registrarse" />
                        </div>
                        <div _ngcontent-c6="" class="external-login ng-star-inserted">

                            <!--Facebook Boton-->
                            <div class="fb-login-button" data-size="large" data-button-type="continue_with"
                                 data-layout="default" data-auto-logout-link="false" data-use-continue-as="false"
                                 data-width="">
                            </div>
                        </div>
                        <div class="form-group text-center text-light">
                            <span><a c>¿Ya tienes Cuenta?</a></span>
                            <button _ngcontent-c7="" class="btn btn-link boton" tabindex="0">Entrar</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</body>

